// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: white;
}

h1.title {
  padding: 20px;
  color: white;
  background-color: #44576b;
  font-weight: bold;
  margin: 0;
  border-bottom: 2px solid #36424e;
  margin-bottom: 15px;
}

.loader {

  position: absolute;
  width: 100%;
  display: none;
  flex-direction: column;
  text-align: center;

  img {
    width: 130px;
    margin: 0 auto;
  }
  span {
    font-weight: bold;
    color: #565656;
    font-size: 18px;
  }
}

th {
  vertical-align: middle;
}

.row{
  h3{
    font-weight: bold;
    color: #4f6980;
  }
}
#tbl-arg {
  display: none;
}

.well {
  background-color: #fff;
  padding: 19px;
  margin-bottom: 20px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  border: 0;
  padding-top: 1px;
}

#app{
  text-align: center;
  .buttons-i{
    overflow: hidden;
    display: inline-block;
    i{
      cursor: pointer;
    }
  }
}

.row-bottom {
  margin-top: 10px;
}
.modal{
  left: -1000px;
  .modal-content{
    width: 1500px;
  }
}
